



/* Utility for button*/
.bg-blue{
    background-color: rgb(114, 77, 221) !important;
    border: 1px solid rgb(114, 77, 221) !important;
    border-radius: 0.6rem !important;
}
.bg-transparent{
    background: transparent;
    border: none;
}
.bg-transparent2{
    background: transparent;
    border: 1px solid #ffffff94;
    border-radius: 0.6rem;
}
.p-r-1{
    padding-right: 1rem;
}

.bl1{
    color: #394790;
    background-color: #1B233D;
    font-weight: 700;
}
.gn1{
    color: #2A7254;
    background-color: #182E36;
    font-weight: 700;
}
.pl1{
    color: #472F74;
    background-color: #21233F;
    font-weight: 700;
}

.bl2{
    color: #394790;
    font-weight: 700;
}
.gn2{
    color: #2A7254;
    font-weight: 700;
}
.pl2{
    color: #472F74;
    font-weight: 700;
}



.home-container{
    /* background-color: rgb(7, 12, 28); */
    background-color: #070D1C;
    min-height: 100vh;
    padding: 1.6rem 4.8rem;
}


/* Navbar */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img-container{
    height: 3.2rem;
}
.nav-img-container img{
    height: 100%;
}

.nav-link-container{
    display: flex;
    align-items: center;
    gap: 2.4rem;
}
.nav-link-container a{
    color: #fff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1px;
    font-weight: 500;
}

.nav-btn-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.home-btn{
    font-family: "Roboto", sans-serif;
    padding: 0.6rem 0.8rem;
    letter-spacing: 0.1px;
    font-weight: 500;
    font-size: 1.3rem;
    color: #fff;
}


/* Hero */
.home-hero-container{
    height: 80vh;
    max-width: 100vw;
    /* background-color: #090e2262; */
    background-color: #090D20;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    margin-top: 5.6rem;
    padding: 1.6rem;
    border-radius: 0.6rem;
}

.home-hero-left-top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #0e152e;
    width: 23rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
}
.home-hero-left-top div{
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    background-color: #8663ED;
}
.home-hero-left-top p{
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1px;
}

.home-hero-left-texts{
    margin-top: 3.2rem;
}

.home-hero-left-text1{
    max-width: 50rem;
}
.home-hero-left-text1 h1{
    font-family: "Roboto", sans-serif;
    font-size: 5.6rem;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 1.3;
    font-weight: 700;
}
.home-hero-left-text1 h1 span{
    color: #8663ED;
}

.home-hero-left-text2{
    margin-top: 2rem;
    max-width: 34rem;
}
.home-hero-left-text2 p{
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.2px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffffbe;
}

.home-hero-btn-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3.2rem;
}

.home-hero-left-rating{
    max-width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    /* background-color: aqua; */
    margin-top: 2.4rem;
}

.home-hero-left-img-container{
    position: relative;
    /* margin-top: 2.4rem; */
    height: 4rem;
}

.home-left-img-pos-abs1{
    position: absolute;
    z-index: 1;
}
.home-left-img-pos-abs2{
    position: absolute;
    left: 20%;
    z-index: 2;
}
.home-left-img-pos-abs3{
    position: absolute;
    left: 40%;
    z-index: 3;
}
.home-left-img-pos-abs4{
    position: absolute;
    left: 61%;
    z-index: 4;
}


.home-hero-left-img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    overflow: hidden;
}
.home-hero-left-img img{
    height: 100%;
    width: 100%;
}


.home-hero-left-rating-star-text{
    align-self: center;
}
.home-hero-left-rating-text{
    margin-top: 0.5rem;
}
.home-hero-left-rating-text p{
    font-family: "Roboto", sans-serif;
}





.home-hero-right{
    border: 1px solid #ffffff4b;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    border-radius: 1.6rem;
}

.home-hero-right-left{
    /* background-color: #0C1223; */
    background-color: #0C1223;
    border-right: 1px solid #ffffff4b;
    padding-top: 1.3rem;
    /* padding-left: 1.6rem; */
    border-top-left-radius: 1.6rem;
    border-bottom-left-radius: 1.6rem;
}

.home-hero-right-left-top-img-text-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1.6rem;
}

.home-hero-right-left-img-container{
    height: 2rem;
}
.home-hero-right-left-img-container img{
    height: 100%;
}

.home-hero-right-left-top-img-text-container p{
    font-size: 1.4rem;
    rotate: calc(90deg);
    font-family: "Roboto", sans-serif;
}

.home-hero-right-left-middle-container{
    margin-top: 4.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-left: 1.6rem;
    /* background-color: #fff; */
    height: 65%;
}

.home-hero-right-left-middle-img-btn-container{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.home-hero-right-left-middle-img-container{
    height: 1.6rem;
}
.home-hero-right-left-middle-img-container img{
    height: 100%;
}
.home-hero-right-left-middle-img-btn-container button{
    font-family: "Roboto", sans-serif;
    background: transparent;
    border: none;
    color: #ffffff91;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1px;
}




.home-hero-right-left-down-align-container{
    /* background-color: rgba(240, 248, 255, 0.322); */
    display: flex;
    justify-content: center;
    /* margin-top: 2.4rem; */
    
}

.home-hero-right-left-down-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;
    background-color: #151C2D;
    padding: 1rem 1rem;
    border-radius: 0.6rem;
}
.home-hero-right-left-down-container .d{
    height: 2.8rem;
    width: 2.8rem;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0e152e;
    border-radius: 0.6rem;
}
.home-hero-right-left-down-container .d p{
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}
.home-hero-right-left-down-container .wd-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.home-hero-right-left-down-container .wd-container .work{
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1px;
    color: #ffffff73;
}
.home-hero-right-left-down-container .wd-container .dev{
    font-family: "Roboto", sans-serif;
    /* font-size: 1.1rem; */
    color: #ffffffd2;
}
.home-hero-right-left-down-container .tt{
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    rotate: calc(90deg);
}







.home-hero-right-right-container{
    display: grid;
    grid-template-rows: 4.8rem 1.6rem 1fr;
    row-gap: 2.4rem;
    /* align-items: center; */
    /* background-color: #fff; */
}

.home-hero-right-right-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #151C2D; */
    padding-left: 1rem;
    padding-right: 1rem;
}
.home-hero-right-right-top-inp-container input{
    color: #fff;
    background-color: #121628;
    border: 1px solid #121628;
    padding: 0.6rem 1rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    letter-spacing: 0.1px;
}
.home-hero-right-right-top-icon-profile-container{
    display: flex;
    align-items: center;
    gap: 2.4rem;
    /* background-color: #8663ED; */
}
.home-hero-right-right-top-icon-container{
    height: 2rem;
}
.home-hero-right-right-top-icon-container img{
    height: 100%;
}
.home-hero-right-right-top-img-container{
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
    overflow: hidden;
}
.home-hero-right-right-top-img-container img{
    height: 100%;
    width: 100%;
}




.home-hero-right-right-container .right-subheading{
    padding-left: 1rem;
    /* background-color: #8663ED; */
}
.home-hero-right-right-container .right-subheading h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0.2px;
}




.home-hero-right-right-ov-container{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    /* background-color: #3a1010; */
    gap: 1.6rem;
}


.home-hero-r-r-ov-l-m-container{
    display: grid;
    grid-template-rows: 5.6rem 24rem 0.25fr;
    row-gap: 2.6rem;
    padding-left: 1rem;
    /* background-color: #8663ED; */
}

.home-hero-r-r-ov-l-m-container .d-f{
    display: flex;
    justify-content: space-between;
    /* padding-left: 1rem; */
}

.home-hero-ov-card-container{
    width: 12.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    /* gap: 2.4rem; */
    background-color: #13182B;
    border-radius: 0.6rem;
}

.home-hero-ov-card-container .p1-p2{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.home-hero-ov-card-container .p1{
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    color: #ffffffa6;
}
.home-hero-ov-card-container .p2{
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}

.home-hero-ov-card-container .logo-container{
    height: 2rem;
}
.home-hero-ov-card-container .logo-container img{
    height: 100%;
}



.home-hero-r-r-ov-l-m-container .m-c{
    padding-top: 1.6rem;
    background-color: #151C2D;
    border-radius: 0.6rem;
}
.home-hero-r-r-ov-l-m-container .m-t{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.6rem;
}
.home-hero-r-r-ov-l-m-container .m-t .p1{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1px;
}
.home-hero-r-r-ov-l-m-container .m-t .p2{
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #4D4C78;
    font-weight: 7003;
}



.home-hero-recent-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ffffff21;
    padding: 1rem 1rem;
}

.r-c-img-title-container{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.r-c-img-title-container .p1{
    font-size: 0.9rem;
}
.r-c-img-title-container .r-c-img{
    height: 2rem;
}
.r-c-img-title-container .r-c-img img{
    height: 100%;
}

.home-hero-recent-container .p1-p2{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.home-hero-recent-container .p1{
    font-size: 1.1rem;
    color: #ffffffa1;
}
.home-hero-recent-container .p2{
    font-size: 1rem;
    /* color: #ffffff7e; */
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
}
.home-hero-recent-container .p3{
    font-size: 0.8rem;
    color: #ffffff67;
}


.home-hero-r-r-ov-l-m-container .m-d{
    background-color: #151C2D;;
    padding-top: 1.6rem;
    border-radius: 0.6rem;
}





.m-t-progress{
    display: flex;
    align-items: center;
    margin-top: 4.6rem;
}
.m-t-progress .m-t-progress-inner{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.home-hero-task-show-container{
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #070D1C; */
}
.home-hero-task-show-container .t-s-c{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.home-hero-task-show-container .t-s-1{
    height: 1rem;
    width: 1rem;
    /* background-color: #8663ED; */
    border-radius: 50%;
}




/* After hero */
.home-after-hero-heading{
    margin-top: 3.2rem;
}
.home-after-hero-heading p{
    text-align: center;
    color: #8663ED;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.home-after-hero-heading h2{
    text-align: center;
    margin-top: 1.6rem;
    font-size: 3.2rem;
    letter-spacing: 0.5px;
    font-weight: 600;
}